/* New Gooey */

* { background: #494949; color: #d3d3d3; font-size: 10px; alternate-background-color: #a9d9fe; }

QScrollBar::handle { border: 1px solid #6f6f6f; margin: 1px; border-radius: 4px; background: #313131; }
QScrollBar::handle:vertical { min-height: 32px; }
QScrollBar::handle:horizontal { min-width: 32px; }

QScrollBar:vertical { padding-top: 16px; padding-bottom: 16px; }
QScrollBar::add-line:vertical { background-image: url(:/gooey/images/icons/global.arrow.down.png); background-clip: padding; }
QScrollBar::sub-line:vertical { background-image: url(:/gooey/images/icons/global.arrow.up.png); background-clip: padding; }

QScrollBar:horizontal { padding-left: 16px; padding-right: 16px; }
QScrollBar::add-line:horizontal{ background-image: url(:/gooey/images/icons/global.arrow.right.png); background-clip: padding; }
QScrollBar::sub-line:horizontal{ background-image: url(:/gooey/images/icons/global.arrow.left.png); background-clip: padding; }

QLabel { background: transparent; }

QAbstractItemView
{
	/*border: 0px;*/
	background: #313131;
	alternate-background-color: #373737;
	selection-background-color: #6c6c6c;
	selection-color: #afaf96;
}
QAbstractItemView::item { min-height: 16px; margin: 1px; }
QAbstractItemView:active { selection-background-color: #a9d9fe; selection-color: black; }

QTreeView { qproperty-alternatingRowColors: true; }

Gooey--windows--MainMenu { margin: 0px; padding: 0px; background: #3c3b37; border-bottom: 1px solid #6f6f6f; }

QMainWindow { margin: 0px; padding: 0px; }
QMainWindow::separator { width: 2px; height: 2px; background: black; }
QMainWindow::separator:hover { background: red; }

Gooey--windows--SideBar {
	min-width: 50px;
	background: qlineargradient(x1:0.0, y1:0.5, x2:1.0, y2:0.5, stop:0 #404040, stop:1 #828282);
	border-right: 2px solid black;
}

QDockWidget {
	padding: 0px;
	margin: 0px;
	min-width: 200px;
}

QDockWidget:float {
	border: 1px solid #ffffff;
}

Gooey--windows--View > QFrame#_g_title { background: darkgrey; spacing: 0; padding: 0; border: 0; }
Gooey--windows--View > QFrame#_g_title > * { background: transparent; }
Gooey--windows--View > QFrame#_g_title > QPushButton { max-width: 16px; max-height: 16px; }
Gooey--windows--View > QFrame#_g_title > QPushButton#_g_close { qproperty-icon: url(:/gooey/images/icons/view.close.png); }
